@tailwind base;
@tailwind components;
@tailwind utilities;

// my style
@import 'fp2022';
@import 'winnerHome';

$titleFont: 'Inter';
$bodyFont: 'Roboto';
$italicFont: 'Crimson Text';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $bodyFont, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $titleFont, sans-serif;
}

.fp2024 {
    &-title {
        font-family: $titleFont, sans-serif;
    }

    &-italic {
        font-family: $italicFont, serif;
        font-style: italic;
        font-weight: 400;

        &-bold {
            font-family: $italicFont, serif;
            font-style: italic;
            font-weight: 600;
        }
    }


}

a.disabled {
    pointer-events: none;
    cursor: pointer;
}

/* Needed to enable cloak alpine attribute see https://alpinejs.dev/directives/cloak */
[x-cloak] {
    display: none !important;
}
