aside::-webkit-scrollbar {
    display: none;
}

.btn-custom-search {
    top: 0;
    right: 0;
}

.btn-gear-custom {
    position: fixed;
    top: 0.5rem;
    right: 0;
    width: 3rem;
    border-radius: 30% 0 0 30%;
    z-index: 2;
    opacity: 0.5;
}

.sidebar-custom {
    z-index: 3;
    position: fixed;
}

.next-match-header-custom {
    transform: translateY(-2rem);
    transition: 0.4s ease-in-out;
    //background: linear-gradient(to top, rgba(255, 255, 255, 0.2), transparent, rgba(255, 255, 255, 0.2));
}

.next-match-header-custom:hover {
    transform: translateY(-3rem);
}

.standing-header-custom {
    transform: translateY(-0.5rem);
    transition: 0.4s ease-in-out;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.2), transparent, rgba(255, 255, 255, 0.2));
}

.standing-header-custom:hover {
    transform: translateY(-1.5rem);
}

/* Chrome, Safari, Edge, Opera */
.result-input::-webkit-outer-spin-button,
.result-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.result-input[type=number] {
    -moz-appearance: textfield;
}

.drop-own-position {
    top: 2.9em;
}

.player-selection:hover {
    background-color: #A9B2BA;
}

.first-place {
    background-color: gold;
}

.second-place {
    background-color: silver;
}

.third-place {
    background-color: brown;
}

.fourth-place {
    background-color: greenyellow;
}

.seventh-place {
    background-color: aqua;
}

.sidebar-custom{
    height: 100%;
}

@media screen and (min-width: 990px) {
    .sidebar-custom {
        height: 100vh;
        min-width: 20vw;
        position: sticky;
    }
}

.dropdown-menu {
    max-height: 280px;
    overflow-y: scroll;
}

.game-bar-dropdown:hover{
    color: var(--white-color);
}
.game-bar-dropdown:focus{
    color: var(--white-color);
}

.custom-scrollable{
    max-height: 100%;
    overflow-y: auto;
}

.main-custom{
    max-height: 100vh;
}
